.poll .poll-form
{
	display: none;
}
.poll input
{
   margin: 1em 0;
}
.poll .yui-radio-button
{
	display: block;
    margin: 0.25em 0;
}
.poll .poptions
{
	margin: 1em 0;
}
.poll .pollResults
{
    padding-top: 10px;
}
.poll .poll-links
{
    padding-top: 10px;
}
.poll .pollResult
{
    padding-top: 0;
}
.poll .pollResult span.outer
{
   display: block;
   border: 1px solid #bababa;
   font-size: 1em;
   padding: 1px;
   margin: 0.25em 0;
   background: white;
}
.poll .pollResult span.outer span.inner
{
   background-image: url(poll-result-bar.png);
   display: block;
   background-repeat: repeat-x;
   height: 1.2em;
}
.poll .pollBody h4.resultResponse
{
   font-weight: 700;
   margin: 0;
   padding: 10px 0 0 0;
}
.poll .pollResult .resultResponse,
.poll .pollResult .resultBar,
.poll .pollResult .resultSummary
{
   display: block;
}
.poll .pollResult .detail
{
	font-size: 1em;
	color: #666666;
}
