.bbc-weather-dashlet .temperature {
	font-size: 2em;
   line-height: 2em;
}

.bbc-weather-dashlet .summary {
	margin-bottom: 0.5em;
}

.bbc-weather-dashlet img {
	vertical-align: top;
}

.bbc-weather-dashlet dt {
   float: left;
   padding-right: 0.3em;
}

.bbc-weather-dashlet dd {
   color: #333333;
}