.twitter-user-timeline div.list
{
}
.twitter-user-timeline div.detail-list-item
{
   min-height: 48px; /* No smaller that profile images */
}
.twitter-user-timeline h4, .twitter-user-timeline p
{
   margin-bottom: 0.25em;
   margin-top: 0;
   padding-top:0;
}
.twitter-user-timeline div.tweet-details
{
   color: #999999;
   margin-bottom: 0.25em;
}
.twitter-user-timeline div.tweet-details a,
.twitter-user-timeline div.tweet-details a:link,
.twitter-user-timeline div.tweet-details a:hover,
.twitter-user-timeline div.tweet-details a:visited
{
   color: #999999;
}
.twitter-user-timeline .list-tweet,
.twitter-user-timeline .user-tweet
{
   clear: both;
}
.twitter-user-timeline .list-tweet .tweet,
.twitter-user-timeline .user-tweet .tweet
{
	margin-left: 58px;
}
.twitter-user-timeline .list-tweet .user-icon,
.twitter-user-timeline .user-tweet .user-icon
{
   float: left;
}
.twitter-user-timeline > .scrollableList
{
   padding-top: 0;
}
.twitter-user-timeline > .body div.timeline
{
   padding-left: 0;
   padding-right: 0;
}
.twitter-user-timeline .buttons
{
	padding-top: 1em;
	text-align: center;
	display: none;
}
.twitter-user-timeline .screen-name
{
   font-weight: 700;
}
.twitter-user-timeline .user-name
{
   color: #999999;
}
.twitter-user-timeline .retweeted
{
   background-image: url("twitter-user-timeline-rt.png");
   background-position: left;
   background-repeat: no-repeat;
   padding-left: 18px;
   color: #999999;
}
.twitter-user-timeline .tweet-hd,
.twitter-user-timeline .tweet-bd
{
   padding-bottom: 0.2em;
}