.bbc-weather-dashlet .body {
	height: 320px;
}

.bbc-weather-dashlet .temp-current, .bbc-weather-dashlet .temp-max, .bbc-weather-dashlet .temp-min {
   padding: 0.25em;
   border-radius: 0.25em;
   -moz-border-radius: 0.25em;
   text-align: center;
}

.bbc-weather-dashlet .temp-current {
   font-size: 2em;
   background-color: #f0f0f0;
   margin-left: 0.5em;
}

.bbc-weather-dashlet .summary {
   padding: 1em 1em 0 1em;
   border-bottom: 1px dashed #E9E9E9;
}

.bbc-weather-dashlet img, .bbc-weather-dashlet .summary .conditions {
	vertical-align: middle;
	font-size: 2em;
}

.bbc-weather-dashlet .summary .conditions {
	height: 3em;
}

.bbc-weather-dashlet dl {
   padding: 0.5em 1em;
   border-bottom:1px dashed #E9E9E9;
}

.bbc-weather-dashlet dt {
   float: left;
   font-weight: bold;
   text-align: right;
   width: 5em;
}

.bbc-weather-dashlet dd {
   margin-left: 5.5em;
   min-height: 1.2em;
}

.bbc-weather-dashlet .forecast {
   padding: 1em;
   /*
   border-bottom:1px dashed #E9E9E9;
   */
}

.bbc-weather-dashlet .forecast-item {
   float: left;
   text-align: center;
   width: 4em;
}

.bbc-weather-dashlet .forecast-item .date {
   font-weight: bold;
   text-align: center;
   width: 4em;
   vertical-align: middle;
   margin-bottom: 0.5em;
}

.bbc-weather-dashlet .forecast-item .conditions {
   text-align: center;
   margin-bottom: 0.5em;
}

.bbc-weather-dashlet .temp-max {
   background-color: #fff88a;
   width: 3em;
   text-align: center;
   margin-bottom: 0.5em;
}

.bbc-weather-dashlet .temp-min {
   background-color: #b3ceff;
   width: 3em;
   text-align: center;
   margin-bottom: 0.5em;
}

.bbc-weather-dashlet .info {
   color: #999999;
   font-size: 0.85em;
   margin: 1em;
}

.bbc-weather-dashlet .scrollableList {
   paddding-bottom: 0px;
}